@page "/cdoutcomes/index"
@inherits CDOutcomeBasePageClass

<PageTitle>CD Outcomes Menu</PageTitle>



<AuthorizeView Policy="ElevatedPolicy">
    <Authorized>

        @if (VulnerableClients is null)
        {
            <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Vulnerable Clients</MudAlert>
            return;
        }

        <br />

        <button @onclick="ShowHideSearchBox" class="btn btn-primary">Show / Hide Search Fields</button>
        <span hidden="@(CDOutcomes is null || !CDOutcomes.Any())">
            &nbsp;
            <button @onclick="ExportCSV" class="btn btn-success">Download as CSV</button>
        </span>
        <br />
        <br />

        <div hidden="@HideSearchBox">
            <MudGrid>
                <MudItem sm="12">
                    <MudCard>
                        <MudCardContent>
                            <MudDatePicker Label="Start Date (dd/mm/yyyy)" @bind-Date="StartDate" Editable="true" DateFormat="dd/MM/yyyy" />
                            <MudDatePicker Label="End Date (dd/mm/yyyy)" @bind-Date="EndDate" Editable="true" DateFormat="dd/MM/yyyy" />
                            <MudSelect T="int" Label="Vulnerable Clients" @bind-Value="VulnerableClientId">
                                @foreach (var vulnerableClient in VulnerableClients)
                                {
                                    <MudSelectItem T="int" Value="vulnerableClient.VulnerabilityInformationId">
                                        @vulnerableClient.FirstName @vulnerableClient.LastName
                                    </MudSelectItem>
                                }
                            </MudSelect>
                        </MudCardContent>
                        <MudCardActions>
                            <button class="btn btn-primary" @onclick="DoCDOutcomeSearch">Search</button>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
            <span style="font-weight: bold; color: red" hidden="@HideAlert">Please select a start date</span>
        </div>

        <br />

        <CDOutcomeListViewComponent CDOutcomes="CDOutcomes" ShowClientNames="true" />        

    </Authorized>
</AuthorizeView>