@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<PageTitle>Vulnerability Manager</PageTitle>
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => DrawerToggle())" />
        <MudSpacer />
        <HeaderValueComponent HeaderValue="@HeaderValue" />
        <div style="margin-right: 100px; width: 600px">
            <LoginDisplayComponent />
        </div>
        <AuthorizeView Policy="@PolicyNames.AllRolesPolicy">
            <Authorized>
                <a class="btn btn-light" @onclick="SavePage" style="cursor: pointer">Save Link To Page</a>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>