@page "/teamfeedbacks/{VulnerabilityInformationId:int}/index"
@inherits TeamFeedbackBasePageClass

<PageTitle>Feedback</PageTitle>

@if (TeamFeedbacks is null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Feedback</MudAlert>
    return;
}

<br />

<AuthorizeView Policy="@PolicyNames.ElevatedRolesPolicy">
    <Authorized>

        <h3>Add New Feedback</h3>

        <a href="vulnerabilityinformation/summary/@ContactId" class="btn btn-primary">Case</a>

        <br />
        <br />

        <EditForm Context="subcontext" Model="@TeamFeedbackDisplayModel" OnValidSubmit="CreateTeamFeedback">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <MudGrid>
                <MudItem sm="12">
                    <MudCard>
                        <TeamFeedbackCreateUpdateComponent TeamFeedbackDisplayModel="@TeamFeedbackDisplayModel" />
                        <MudCardActions>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>

        </EditForm>

        <br />
        <br />

    </Authorized>
</AuthorizeView>

<MudTable
    Items="TeamFeedbacks"
    Hover
    FixedHeader="true"
    Height="500">
    <HeaderContent>
        <MudTh>Feedback</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>By</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Feedback</MudTd>
        <MudTd>@context.FeedbackDate.ToString("dd/MM/yyyy h:mm tt")</MudTd>
        <MudTd>@context.CreatedBy</MudTd>
        <MudTd>
            <a href="teamfeedback/view/@context.TeamFeedbackId" class="btn btn-primary">View</a>
            <AuthorizeView Policy="@PolicyNames.ElevatedRolesPolicy">
                <Authorized Context="subcontext">
                    &nbsp;
                    <a href="teamfeedback/edit/@context.TeamFeedbackId" class="btn btn-primary">Edit</a>
                </Authorized>
            </AuthorizeView>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100, int.MaxValue }" />
    </PagerContent>
</MudTable>

<br />
<br />

<a href="/" class="btn btn-primary">Home</a>
    &nbsp;
<a href="vulnerabilityinformation/summary/@ContactId" class="btn btn-primary">Summary</a>
<AuthorizeView Policy="@PolicyNames.ElevatedRolesPolicy">
    <Authorized>
        &nbsp;
        <a href="vulnerabilityinformation/details/@ContactId" class="btn btn-primary">Details</a>
    </Authorized>
</AuthorizeView>



