@page
@model AddUserToRoleModel
@{
    if (Model.Input.Roles == null)
    {
        return;
    }
    ViewData["Title"] = $"Add {@Model.UserName} to role";
}

<h1>@ViewData["Title"]</h1>

@{
    if (User.IsInRole(RoleNames.SuperUserOnly))
    {
        <p>Current roles:</p>
        <p>
            <ul>
                @{
                    if (!Model.CurrentRoles.Any())
                    {
                        <li>None</li>
                    }
                    else
                    {
                        foreach (var currentRole in Model.CurrentRoles)
                        {
                            <li>@currentRole</li>
                        }
                    }
                }
            </ul>
        </p>
        <div class="row" style="margin: 50px">
            <div class="col-md-4">
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="margin:10px">
                            <label asp-for="Input.RoleId" class="control-label">Role</label>
                            <br>
                            <br>
                            <input asp-for="Input.UserId" type="hidden" />
                            <select asp-for="Input.RoleId" class="form-control" asp-items="@Model.Input.Roles"></select>
                            <span asp-validation-for="Input.RoleId" class="text-danger"></span>
                        </div>
                        <div style="margin:10px">
                            <button id="submit-add" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>

        <a href="~/Identity/Account/Manage/ListUsers" class="btn btn-primary">List Users</a>
        @:&nbsp;
        <a href="~/" class="btn btn-primary">Home</a>
        <h4 style="color:green;font-weight:bold">@ViewData[CommonValues.SuccessMessage]</h4>
        <h4 style="color:red;font-weight:bold">@ViewData[CommonValues.ErrorMessage]</h4>
    }
    else
    {
        <h4>You are not authorised to view this page</h4>
    }    
}    
    

    

