@page
@using VulnerableClientAdminUI.Areas.Identity.Shared;
@model DeleteUserModel
@{
    ViewData["Title"] = "Delete User";
}

<h1 style="color:red">@ViewData["Title"] @Model.UserDetails.User.UserName</h1>

@if (Model.UserDetails.User.UserName == CommonValues.SystemLordUserName)
{
    <h3>Cannot delete @CommonValues.SystemLordUserName</h3>
    <a href="./ListUsers" class="btn btn-primary">List Users</a>
    return;    
}

@if (User.IsInRole(RoleNames.SuperUserOnly))
{
    <dl class="row">
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.UserDetails.User.UserName)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.UserDetails.User.UserName)
        </dd>
        <dt class="col-sm-1">
            @Html.DisplayNameFor(model => model.UserDetails.User.Email)
        </dt>
        <dd class="col-sm-11">
            @Html.DisplayFor(model => model.UserDetails.User.Email)
        </dd>
        <dt class="col-sm-1">
            Current Roles
        </dt>
        <dd class="col-sm-11">
            <ul>
                @{
                    if (Model.UserDetails.CurrentRoles == null || !Model.UserDetails.CurrentRoles.Any())
                    {
                        <li style="color: red">None</li>
                    }
                    else
                    {
                        foreach (var currentRole in Model.UserDetails.CurrentRoles)
                        {
                            <li>@currentRole</li>
                        }
                    }
                }
            </ul>
        </dd>
    </dl>
        
    <form id="delete" method="post">
        <a href="./ListUsers" class="btn btn-primary">List Users</a>
        &nbsp;
        <input asp-for="@Model.UserDetails.User.Id" type="hidden" />
        <button type="submit" class="btn btn-danger">Delete User</button>
    </form>

    <br /><br />

    <h4 style="color:red;font-weight:bold">@ViewData[CommonValues.ErrorMessage]</h4>
}
else
{
    <h4>You are not authorised to view this page</h4>
}