@page "/auditrecords/search"
@inherits BasePageClass

<PageTitle>Search Audit Records</PageTitle>

<AuthorizeView Policy="@PolicyNames.AdminRolePolicy">
    <Authorized>

        <br />

        <button @onclick="ShowHideSearchBox" class="btn btn-primary">Show / Hide Search Fields</button>

        <br />
        <br />

        <div hidden="@HideSearchBox">
            <MudGrid>
                <MudItem sm="12">
                    <MudCard>
                        <MudCardContent>
                            <MudSelect Label="Object Type"
                                       Value="ObjectType"
                                       ValueChanged="@((string ObjectType) => GetObjectsByObjectType(ObjectType))">
                                @foreach (var searchObject in SearchObjects)
                                {
                                    <MudSelectItem Value="searchObject.Key">
                                        @searchObject.Value
                                    </MudSelectItem>
                                }
                            </MudSelect>
                            <MudSelect T="int" Label="Object" @bind-Value="ObjectId">
                                @foreach (var keyValuePair in ObjectTypesByObject)
                                {
                                    <MudSelectItem T="int" Value="keyValuePair.Key">
                                        @keyValuePair.Value
                                    </MudSelectItem>
                                }
                            </MudSelect>
                        </MudCardContent>
                        <MudCardActions>
                            <button @onclick="DoSearch" class="btn btn-primary">Search</button>
                            &nbsp;
                            <button @onclick="ClearSearch" class="btn btn-primary">Clear Search</button>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </div>

        <AuditObjectsComponent AuditObjectList="@AuditObjects" />

        <label hidden="@WarningLabelIsHidden" style="color: red; font-weight: bold">Please select something from both lists</label>

    </Authorized>
    <NotAuthorized>

        <NotAuthorisedTextComponent />

    </NotAuthorized>
</AuthorizeView>